<%= form_for @listing, :html => { :multipart => true } do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="info" aria-hidden="true">&times;</button>
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :departure, "Ville de départ" %>
    <%= f.text_field :departure, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :arrival, "Ville d'arrivée" %>
    <%= f.text_field :arrival, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date, "Date de départ" %>
    <input type="text" name="listing[date]" class="datepicker">
  </div>
  <div class="form-group">
    <%= f.label :time, "Heure de départ" %>
    <input type="text" name="listing[time]" class="timepicker">
  </div>
  <div class="form-group">
    <%= f.label :nombre_passager, "Nombre de passagers acceptés" %>
    <%= f.text_field :nombre_passager, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
