<%# if request.url() == root_url %>
  <h1>Bienvenue sur Hisseo.</h1>
  <p>Prenez le large avec Hisseo</p>
<%# else %>

  <div class="row">
    <% @listings.each do |listing| %>
      <% if listing.compte_passager != listing.nombre_passager %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= link_to "#{listing.name}", listing %></h3>
            <p><%= listing.price %> <%= t('euro') %></p>
            <p><%= "Proposé par #{listing.user.first_name}" %></p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="paginate">
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
  </div>
  
<%# end %>