<% if request.url() == root_url %>
  <h3 class="h3-title-index">Notre flotte vous attends</h3>
<% else %>
  <h3 class="h3-title-index">Résultats de votre recherche</h3>
<% end %>
  <div class="row">
    <% @listings.each do |listing| %>

      <%  profile_img = listing.user.profile_img_file_name
          facebook_img = listing.user.facebook_img

          if  profile_img.nil? && facebook_img.nil?
              image = "/assets/default_profile.png"
          else
              if  !facebook_img.nil?
                  image = facebook_img
              else
                  image = listing.user.profile_img.url
              end
          end
      %>

      <% listing_url = "/listings/#{listing.slug}" %>
      <%# if listing.time.to_time > Time.now.to_time %>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <a class="boat-listing" href="<%= listing_url %>" target="_blank">
              <div class="listing-image" style="background-image:url('<%= listing.image.url %>')">
                <div class="owner" style="background-image:url('<%= image %>')"></div>
                <div class="price"><%= number_to_currency(listing.price) %></div>
              </div>
              <div class="caption">
                <ul class="tags">
                  <li><%= "Proposé par #{listing.user.first_name}" %></li>
                </ul>
                <div class="listing-title"><%= listing.departure %> <em>→</em> <%= listing.arrival %></div>
                <div class="listing-date"><%= l listing.date.to_date, :format => :long %> à <%= listing.time %></div>
              </div>
            </a>
          </div>
        </div>
      <%# end %>
    <% end %>
  </div>

  <div class="paginate">
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
  </div>