<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <p><%= @listing.price %> <%= t('euro') %></p>
    <p><%= @listing.description %></p>
    <br>
    <div class="center">
      <form method="get" action="/listings/<%= params[:id] %>/orders/new">
        <% @test = @listing.nombre_passager - @listing.compte_passager %>
        <% options_array = (1..@test).to_a.collect{|p| ["#{p}", p]} %>
        <%= select_tag(:compte_passager, options_for_select(options_array)) %>
      <input type="submit" value="Réserver un trajet" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'hisseo';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<% if current_user == @listing.user %>
  <%= link_to 'Modifier', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Retour', listings_path, class: "btn btn-link" %>