<div class="center">
  <h2>Les trajets que vous avez effectués</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Image</th>
    <th class="center">Trajet</th>
    <th class="center">Prix</th>
    <th class="center">Capitaine</th>
    <th class="center">Date</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= image_tag order.listing.image.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center"><%= number_to_currency(order.listing.price) %></td>
      <td class="center"><%= order.seller.first_name %></td>
      <td class="center"><%= l order.created_at.to_date, :format => :short %></td>
    </tr>
  <% end %>
</table>