<!-- Modal Login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Connexion</h3>
      </div>
      <div class="modal-body">
        <h4></h4><br>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="field form-group" style="text-align:center;margin-bottom:35px;margin-top:-25px;">
            <%= link_to "/users/auth/facebook", class: "btn btn-primary", style: "width:400px;text-align:center;" do %>
              <i class="fa fa-facebook-official fa-2x" style="font-size:2.5em;padding-top:4px;"></i>
              <div class="join-facebook-modal">Connexion avec Facebook</div>
            <% end %>
          </div>
          <div style="text-align: center;font-style: italic;margin-bottom: 15px;">
            <span>- OU -</span>
            <!-- <hr class="divider"> -->
          </div>
          <div class="form-group">
            <%= f.label :email, "Email *" %>
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Mot de passe *" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "Se souvenir de moi" %>
            </div>
          <% end -%>
          <div class="form-group" style="text-align:center">
            <%= f.submit "Se connecter", class: "btn btn-primary", style: "width:250px;font-size:18px;" %>
          </div>
            <p>* Champs obligatoires</p>
            <p><%= link_to "Vous n'avez pas de compte?", "#signup", data: {toggle: "modal"} %></p>
            <p><%= link_to "Vous avez oublié votre mot de passe?", new_password_path(resource_name) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Signup -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Créez votre compte Viaboat</h3>
      </div>
      <div class="modal-body">
        <h4></h4><br>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="field form-group" style="text-align:center;margin-bottom:35px;margin-top:-25px;">
            <p style="font-size:20px;">La manière la plus simple et la plus rapide</p>
            <%= link_to "/users/auth/facebook", class: "btn btn-primary", style: "width:400px;text-align:center;" do %>
              <i class="fa fa-facebook-official fa-2x" style="font-size:2.5em;padding-top:4px;"></i>
              <div class="join-facebook-modal">S'inscrire avec Facebook</div>
            <% end %>
          </div>
          <hr class="divider">
           <div class="form-group">
            <%= f.label :first_name, "Prénom *" %>
            <%= f.text_field :first_name, :autofocus => true, class: "form-control" %>
          </div>
           <div class="form-group">
            <%= f.label :last_name, "Nom *" %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email *" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Mot de passe *" %>
            <%= f.password_field :password, class: "form-control", placeholder: "Votre mot de passe doit faire plus de 8 caractères" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmez votre mot de passe *" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <div class="form-group">
            <p>En vous inscrivant, vous accepetez nos <a href="/">conditions générales d'utilisation.</a></p>
          </div><br />
          <%= recaptcha_tags %>
          <div class="form-group" style="text-align:center;margin-top:15px;">
            <%= f.submit "S'inscrire", class: "btn btn-primary", style: "width:200px;font-size:18px;" %>
          </div>
            <p>* Champs obligatoires</p>
            <p><%= link_to "Vous possédez un compte?", new_session_path(resource_name) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>