<!DOCTYPE html>
<html>
<head>
  <title>Hisseo - Prenez le large, en cobaturage</title>
  <meta name="description" content="Hisseo.co est une plateforme permettant la mise en relation de propriétaires de bateaux proposant des trajets entre ports avec des personnes désirant ce déplacer vers des îles où des ports.">
  <meta name="keywords" content="cobaturage,partage,maritime,bateau,nautisme">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=fr&region=FR&key=AIzaSyBKzdqWBAURcThA7ESXsKi5QfPyy6PddOo" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLISHABLE_KEY"] %>
  <script>
    $(function() {
      $( ".datepicker" ).pickadate();
      $( ".timepicker" ).pickatime();
    });
  </script>
</head>

<% if request.url() == root_url %>
  <body class="site">
    <%= render 'layouts/headerindex' %>

    <div class="container site-content">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name.to_s == "notice" ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
<% else %>
  <body class="site-all">
    <%= render 'layouts/header' %>

    <div class="container site-content">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name.to_s == "notice" ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
<% end %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63587080-1', 'auto');
  ga('send', 'pageview');

</script>
</html>